<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="work.huangxin.share.mapper.ThemeMessageMapper">
    <resultMap id="BaseResultMap" type="work.huangxin.share.model.ThemeMessage">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="theme_id" jdbcType="INTEGER" property="themeId"/>
        <result column="theme_title" jdbcType="VARCHAR" property="themeTitle"/>
        <result column="theme_intro" jdbcType="VARCHAR" property="themeIntro"/>
        <result column="theme_use" jdbcType="INTEGER" property="themeUse"/>
        <result column="theme_image" jdbcType="VARCHAR" property="themeImage"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        theme_id, theme_title, theme_intro, theme_use, theme_image, create_time
    </sql>
    <select id="getAllTheme" resultMap="BaseResultMap">

        select * from theme_message
        <if test="use!=null">
            where
            theme_message.theme_use = #{use}
        </if>

    </select>
</mapper>